*{
    font-family:'poppins',sans-serif;
}
.banner{
    background-image: url(../port img/slider.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding:200px 0px;
}
.skills-padding{
    padding: 70px 0;
}